@model ServiceManagementApp.ViewModels.CreateCompanyViewModel

<h1>Create New Company</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EIK"></label>
        <input asp-for="EIK" class="form-control" />
        <span asp-validation-for="EIK" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VATNumber"></label>
        <input asp-for="VATNumber" class="form-control" />
        <span asp-validation-for="VATNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Manager"></label>
        <input asp-for="Manager" class="form-control" />
        <span asp-validation-for="Manager" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" class="form-control" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Address</label>
        <div class="row">
            <div class="col">
                <input asp-for="City" class="form-control" placeholder="City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col">
                <input asp-for="Street" class="form-control" placeholder="Street" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="col">
                <input asp-for="Number" class="form-control" placeholder="Number" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="col">
                <input asp-for="Block" class="form-control" placeholder="Block" />
                <span asp-validation-for="Block" class="text-danger"></span>
            </div>
           
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
