@model ServiceManagementApp.ViewModels.CashRegisterViewModel

<h2>Create New Cash Register</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="ServiceId" class="control-label">Сервизна фирма</label>
        <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.Services"></select>
        <span asp-validation-for="ServiceId" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label for="companySearch">Фирма собственик</label>
        <input type="text" id="companySearch" class="form-control" placeholder="Start typing company name..." />
        <input type="hidden" asp-for="CompanyId" id="CompanyId" />
        <span asp-validation-for="CompanyId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SiteName" class="control-label">Име на обекта</label>
        <input asp-for="SiteName" class="form-control" />
        <span asp-validation-for="SiteName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SiteManager" class="control-label">Управител</label>
        <input asp-for="SiteManager" class="form-control" />
        <span asp-validation-for="SiteManager" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Адрес</label>
        <div class="row">
            <div class="col">
                <input asp-for="City" class="form-control" placeholder="Град" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col">
                <input asp-for="Street" class="form-control" placeholder="Улица" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="col">
                <input asp-for="Number" class="form-control" placeholder="Номер" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="col">
                <input asp-for="Block" class="form-control" placeholder="Вход" />
                <span asp-validation-for="Block" class="text-danger"></span>
            </div>

        </div>

    <div class="form-group">
        <label for="phoneSearch">Телефонен номер</label>
        <input type="text" id="phoneSearch" class="form-control" placeholder="Въведете телефонен номер..." />
        <input type="hidden" asp-for="ContactPhoneId" id="ContactPhoneId" />
        <span asp-validation-for="ContactPhoneId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RegionalNRAOffice" class="control-label">ТДД НА НАП</label>
        <input asp-for="RegionalNRAOffice" class="form-control" value="Пловдив" />
        <span asp-validation-for="RegionalNRAOffice" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BIMCertificateNumber" class="control-label">Свидетелство от БИМ</label>
        <input asp-for="BIMCertificateNumber" class="form-control" />
        <span asp-validation-for="BIMCertificateNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BIMCertificateDate" class="control-label">Дата на свидетелство от БИМ</label>
        <input asp-for="BIMCertificateDate" class="form-control" type="date" />
        <span asp-validation-for="BIMCertificateDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Manufacturer" class="control-label">Производител</label>
        <select asp-for="Manufacturer" class="form-control" asp-items="ViewBag.Manufacturers"></select>
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SerialNumber" class="control-label">Сериен номер</label>
        <input asp-for="SerialNumber" class="form-control" />
        <span asp-validation-for="SerialNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FiscalMemoryNumber" class="control-label">Номер ФП</label>
        <input asp-for="FiscalMemoryNumber" class="form-control" />
        <span asp-validation-for="FiscalMemoryNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FDRIDNumber" class="control-label">FDRID Номер</label>
        <input asp-for="FDRIDNumber" class="form-control" />
        <span asp-validation-for="FDRIDNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstRegistrationDate" class="control-label">Дата на първа регистрация</label>
        <input asp-for="FirstRegistrationDate" class="form-control" type="date" />
        <span asp-validation-for="FirstRegistrationDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsDisposed" class="control-label">Бракуван</label>
        <input asp-for="IsDisposed" class="form-check-input" type="checkbox" />
        <span asp-validation-for="IsDisposed" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsRegistered" class="control-label">Регистриран</label>
        <input asp-for="IsRegistered" class="form-check-input" type="checkbox" checked="checked" />
        <span asp-validation-for="IsRegistered" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Добави" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

    <script type="text/javascript">
        $(function () {
            $("#companySearch").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("SearchCompanies", "Companies")', 
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.label,
                                    value: item.id
                                };
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    $("#companySearch").val(ui.item.label); 
                    $("#CompanyId").val(ui.item.value); 
                    return false;
                }
            });
        });

        $(function () {
            $("#phoneSearch").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("SearchPhones", "Phones")', // Методът в контролера
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.phoneNumber, // Показва телефонния номер
                                    value: item.id // ID на телефона
                                };
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    $("#phoneSearch").val(ui.item.label); // Показва избрания телефон в полето
                    $("#ContactPhoneId").val(ui.item.value); // Записва ID-то на телефона
                    return false;
                }
            });
        });
    </script>
}