@model ServiceManagementApp.ViewModels.RequestViewModel
@{
    ViewData["Title"] = "Заявки";
}

<h2>Заявки</h2>

@section Sidebar {
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" asp-action="CurrentRequests">Текущи заявки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Create">Нова заявка</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="History">История</a>
        </li>
    </ul>
}
