@section sidebar {
    <div class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Employees" asp-action="Index">Служители</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Services" asp-action="Index">Сервизи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="Settings">Настройки</a>
            </li>
        </ul>
    </div>
}
